* {
  margin: 0;
  padding: 0;
}
#root{
  width: 100vw;
  height: 100vh;
}
.todo-list_wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: rgb(255, 247, 237);
}

.title {
  margin-bottom: 15px;
}
.add-item_wrapper {
  display: flex;
  justify-content: space-between;
}
.addInput {
  width: 250px;
  height: 26px;
  border-radius: 5px;
}
.addBtn {
  width: 64px;
  height: 30px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(64, 201, 255);
}
ul {
  margin-top: 15px;
}

li {
  list-style: none;
}

.option {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.list .number {
  margin-left: 1px;
  margin-right: 6px;
}
.list li {
  padding-bottom: 10px;
}